* {
    margin: 0%;
}


body {
    font-family: 'Outfit', sans-serif;    
}

div.page {
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: center;
}

div.qrcode-component {
    background-color: hsl(0, 0%, 100%);
    width: 240px;
    height: 400px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 17px;
}

img.image {
    width: 237px;
    height: 250px;
    margin: 0px auto;
    border-radius: 10px;
}

h2 {
    margin: auto;
    font-size: 17px;
    color: hsl(218, 44%, 22%);
    padding: 20px;
}

p {
    margin: auto;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
}